{%extends "layout.twig"%}

{% block content %}

    <div class= "alert alert-primary" role = "alert">
        {{responseMessage}}

    </div>

    <form action="/jobs/add" method="post" enctype="multipart/form-data">
        <div style="display: flex;align-items: center;flex-direction: column;">
            <h1>Add Job</h1>
       
            <label for="">Title:</label>
            <input  type="text" name="title" ><br>
        
        
            <label for="">Description:</label>
            <input type="text" name="description" >
            <br>
            <input type= "file"  name="logo">
            <br>
            <button type="submit" >Save</button>
        </div>
        
    </form>
    

{% endblock %}



