{% extends "layout.twig"%}

{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href="/login/add">Add user</a></li>
    <li><a href="/jobs/add">Add Job</a></li>

</ul>
<br><br>

<a href="/logout">Logout</a>
{% endblock %}