{% extends "layout.twig"%}

{% block content %}

    <div class= "alert alert-primary" role = "alert">
        {{responseMessage}}

    </div>

    <form action="/auth" method="post" enctype="multipart/form-data">
        <div style="display: flex;align-items: center;flex-direction: column;">
            <h1>Login</h1>
       
            <label for="">Correo:</label>
            <input  type="text" name="Correo" placeholder="Email" ><br>
        
        
            <label for="">Password:</label>
            <input type="Password" name="pass" placeholder="password" >
            <br>
           
            <button type="submit" >Login</button>
        </div>
        
    </form>
    

{% endblock %}
